In [2]:
#to learn quandl website or python library which is a databse of dataset
#to access databset from quandl website online through API key or python link on quandl website

#parsing JSON dataset in python
import quandl
dataset=quandl.get("NSE/TCS", authtoken="FXeZpDiyM36xyyvtSjHm")
print(dataset)

               Open     High      Low     Last    Close  Total Trade Quantity  \
Date
2004-08-25  1198.70  1198.70   979.00   985.00   987.95            17116372.0
2004-08-26   992.00   997.00   975.30   976.85   979.00             5055400.0
2004-08-27   982.40   982.40   958.55   961.20   962.65             3830750.0
2004-08-30   969.90   990.00   965.00   986.40   986.75             3058151.0
2004-08-31   986.50   990.00   976.00   987.80   988.10             2649332.0
2004-09-01   990.00   995.00   983.60   986.00   987.90             2491943.0
2004-09-02   989.90  1004.60   986.00   994.00   993.65             2669544.0
2004-09-03  1006.00  1100.00   990.35   998.70   997.85             1233732.0
2004-09-06  1039.90  1039.90   992.90   996.80   994.85             1129834.0
2004-09-07  1035.00  1035.00   995.00   995.00   995.60              721529.0
2004-09-08   996.00  1000.80   991.10   992.25   993.70              824248.0
2004-09-09   997.00   997.90   978.45   979.65   979.95              993398.0
2004-09-10   990.00   990.00   976.00   989.95   988.80              801884.0
2004-09-13   991.00  1015.50   991.00  1002.75  1003.50             2613114.0
2004-09-14  1005.00  1018.80  1002.95  1015.95  1015.65             1916934.0
2004-09-15  1018.00  1020.00  1001.20  1005.00  1006.10             1498536.0
2004-09-16  1007.00  1015.00  1002.50  1011.00  1008.45              919778.0
2004-09-17  1012.00  1029.90  1010.30  1029.90  1024.50             1828487.0
2004-09-20  1032.40  1036.90  1020.15  1022.50  1022.90             1069028.0
2004-09-21  1024.85  1048.50  1022.00  1047.40  1045.80             1737135.0
2004-09-22  1048.40  1056.00  1037.10  1049.90  1052.05             1921448.0
2004-09-23  1048.00  1049.00  1027.00  1028.00  1030.25             1977460.0
2004-09-24  1029.10  1040.00  1026.00  1027.60  1028.80             1010401.0
2004-09-27  1027.50  1032.50  1015.00  1019.00  1020.75             1028689.0
2004-09-28  1016.00  1027.40  1012.50  1016.20  1015.55              792427.0
2004-09-29  1019.25  1033.00  1016.15  1031.00  1031.00             1467147.0
2004-09-30  1035.60  1040.90  1020.65  1025.10  1027.10             1565179.0
2004-10-01  1029.00  1056.45  1026.35  1048.50  1047.70             1371111.0
2004-10-04  1057.00  1081.00  1054.45  1079.20  1076.50             1891228.0
2004-10-05  1080.30  1089.00  1075.50  1077.05  1080.70             1792661.0
...             ...      ...      ...      ...      ...                   ...
2018-01-17  2870.00  2925.00  2862.15  2895.00  2888.95             2140403.0
2018-01-18  2897.00  2933.00  2868.05  2926.55  2918.20             1104739.0
2018-01-19  2930.55  2982.00  2903.65  2974.85  2959.30              910000.0
2018-01-22  2961.00  3134.70  2922.00  3090.00  3116.40             2183555.0
2018-01-23  3114.95  3142.35  3090.05  3097.90  3102.00             1619805.0
2018-01-24  3090.00  3259.05  3082.65  3174.95  3174.60             2810769.0
2018-01-25  3175.00  3179.80  3081.00  3133.00  3121.05             1916922.0
2018-01-29  3131.40  3225.00  3122.00  3199.25  3198.85             1570530.0
2018-01-30  3180.00  3203.80  3143.70  3152.15  3152.85              787379.0
2018-01-31  3137.00  3150.00  3098.60  3111.15  3112.35             1521607.0
2018-02-01  3124.00  3190.00  3088.80  3150.00  3138.60             1200315.0
2018-02-02  3120.00  3190.00  3103.45  3153.00  3153.65             1228245.0
2018-02-05  3110.00  3188.00  3076.85  3110.00  3103.20             1378871.0
2018-02-06  3010.00  3077.15  2985.00  3000.00  2997.25             1328653.0
2018-02-07  3027.00  3031.00  2947.45  2959.00  2955.05             1090162.0
2018-02-08  2979.75  3027.60  2959.00  2966.20  2974.20             1377502.0
2018-02-09  2950.00  2994.00  2896.65  2978.30  2971.70             1051229.0
2018-02-12  2978.30  3023.35  2955.55  2960.15  2967.30              987281.0
2018-02-14  2970.00  2974.45  2892.50  2900.00  2911.80             1423766.0
2018-02-15  2931.95  2943.00  2905.10  2922.00  2925.85             1232618.0
2018-02-16  2923.00  2999.60  2923.00  2931.00  2933.05             1257878.0
2018-02-19  2945.00  2953.30  2895.20  2923.65  2923.60              784112.0
2018-02-20  2928.00  2985.05  2927.90  2943.00  2944.75              944534.0
2018-02-21  2974.00  3062.60  2960.05  3042.35  3042.30             1544614.0
2018-02-22  3052.00  3079.00  3022.50  3040.05  3050.20             1731505.0
2018-02-23  3050.00  3089.00  2992.10  3078.00  3075.80             1681250.0
2018-02-26  3075.00  3089.95  3021.20  3025.60  3031.70              681941.0
2018-02-27  3041.00  3078.55  3032.00  3042.00  3042.35              858900.0
2018-02-28  3035.00  3063.95  3021.45  3033.40  3035.05             1353432.0
2018-03-01  3049.00  3061.20  3020.00  3033.00  3037.70              859062.0

            Turnover (Lacs)
Date
2004-08-25        172587.61
2004-08-26         49828.65
2004-08-27         37155.86
2004-08-30         30051.06
2004-08-31         26021.33
2004-09-01         24662.36
2004-09-02         26614.26
2004-09-03         12299.17
2004-09-06         11285.54
2004-09-07          7196.11
2004-09-08          8203.62
2004-09-09          9786.57
2004-09-10          7899.51
2004-09-13         26322.21
2004-09-14         19417.63
2004-09-15         15122.08
2004-09-16          9288.06
2004-09-17         18670.47
2004-09-20         10998.44
2004-09-21         18058.22
2004-09-22         20128.57
2004-09-23         20522.00
2004-09-24         10446.93
2004-09-27         10517.68
2004-09-28          8089.25
2004-09-29         15032.54
2004-09-30         16163.97
2004-10-01         14308.62
2004-10-04         20271.86
2004-10-05         19422.48
...                     ...
2018-01-17         62079.46
2018-01-18         31997.12
2018-01-19         26670.01
2018-01-22         66645.66
2018-01-23         50408.79
2018-01-24         89651.88
2018-01-25         59866.62
2018-01-29         50196.39
2018-01-30         24932.03
2018-01-31         47461.05
2018-02-01         37764.74
2018-02-02         38901.63
2018-02-05         43003.56
2018-02-06         40137.44
2018-02-07         32435.12
2018-02-08         41327.16
2018-02-09         30910.37
2018-02-12         29434.08
2018-02-14         41853.67
2018-02-15         36059.54
2018-02-16         37302.56
2018-02-19         22959.55
2018-02-20         27951.26
2018-02-21         46589.38
2018-02-22         52773.42
2018-02-23         51189.36
2018-02-26         20758.94
2018-02-27         26234.43
2018-02-28         41146.52
2018-03-01         26134.81

[3358 rows x 7 columns]

In [9]:
dataset["Open"]

Date
2004-08-25    1198.70
2004-08-26     992.00
2004-08-27     982.40
2004-08-30     969.90
2004-08-31     986.50
2004-09-01     990.00
2004-09-02     989.90
2004-09-03    1006.00
2004-09-06    1039.90
2004-09-07    1035.00
2004-09-08     996.00
2004-09-09     997.00
2004-09-10     990.00
2004-09-13     991.00
2004-09-14    1005.00
2004-09-15    1018.00
2004-09-16    1007.00
2004-09-17    1012.00
2004-09-20    1032.40
2004-09-21    1024.85
2004-09-22    1048.40
2004-09-23    1048.00
2004-09-24    1029.10
2004-09-27    1027.50
2004-09-28    1016.00
2004-09-29    1019.25
2004-09-30    1035.60
2004-10-01    1029.00
2004-10-04    1057.00
2004-10-05    1080.30
               ...
2018-01-17    2870.00
2018-01-18    2897.00
2018-01-19    2930.55
2018-01-22    2961.00
2018-01-23    3114.95
2018-01-24    3090.00
2018-01-25    3175.00
2018-01-29    3131.40
2018-01-30    3180.00
2018-01-31    3137.00
2018-02-01    3124.00
2018-02-02    3120.00
2018-02-05    3110.00
2018-02-06    3010.00
2018-02-07    3027.00
2018-02-08    2979.75
2018-02-09    2950.00
2018-02-12    2978.30
2018-02-14    2970.00
2018-02-15    2931.95
2018-02-16    2923.00
2018-02-19    2945.00
2018-02-20    2928.00
2018-02-21    2974.00
2018-02-22    3052.00
2018-02-23    3050.00
2018-02-26    3075.00
2018-02-27    3041.00
2018-02-28    3035.00
2018-03-01    3049.00
Name: Open, Length: 3358, dtype: float64

In [11]:
dataset

,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
Date,,,,,,,
2004-08-25,1198.70,1198.70,979.00,985.00,987.95,17116372.0,172587.61
2004-08-26,992.00,997.00,975.30,976.85,979.00,5055400.0,49828.65
2004-08-27,982.40,982.40,958.55,961.20,962.65,3830750.0,37155.86
2004-08-30,969.90,990.00,965.00,986.40,986.75,3058151.0,30051.06
2004-08-31,986.50,990.00,976.00,987.80,988.10,2649332.0,26021.33
2004-09-01,990.00,995.00,983.60,986.00,987.90,2491943.0,24662.36
2004-09-02,989.90,1004.60,986.00,994.00,993.65,2669544.0,26614.26
2004-09-03,1006.00,1100.00,990.35,998.70,997.85,1233732.0,12299.17
2004-09-06,1039.90,1039.90,992.90,996.80,994.85,1129834.0,11285.54
2004-09-07,1035.00,1035.00,995.00,995.00,995.60,721529.0,7196.11
2004-09-08,996.00,1000.80,991.10,992.25,993.70,824248.0,8203.62
2004-09-09,997.00,997.90,978.45,979.65,979.95,993398.0,9786.57
2004-09-10,990.00,990.00,976.00,989.95,988.80,801884.0,7899.51
2004-09-13,991.00,1015.50,991.00,1002.75,1003.50,2613114.0,26322.21
2004-09-14,1005.00,1018.80,1002.95,1015.95,1015.65,1916934.0,19417.63
2004-09-15,1018.00,1020.00,1001.20,1005.00,1006.10,1498536.0,15122.08
2004-09-16,1007.00,1015.00,1002.50,1011.00,1008.45,919778.0,9288.06
2004-09-17,1012.00,1029.90,1010.30,1029.90,1024.50,1828487.0,18670.47
2004-09-20,1032.40,1036.90,1020.15,1022.50,1022.90,1069028.0,10998.44
2004-09-21,1024.85,1048.50,1022.00,1047.40,1045.80,1737135.0,18058.22
2004-09-22,1048.40,1056.00,1037.10,1049.90,1052.05,1921448.0,20128.57
2004-09-23,1048.00,1049.00,1027.00,1028.00,1030.25,1977460.0,20522.00
2004-09-24,1029.10,1040.00,1026.00,1027.60,1028.80,1010401.0,10446.93
2004-09-27,1027.50,1032.50,1015.00,1019.00,1020.75,1028689.0,10517.68
2004-09-28,1016.00,1027.40,1012.50,1016.20,1015.55,792427.0,8089.25
2004-09-29,1019.25,1033.00,1016.15,1031.00,1031.00,1467147.0,15032.54
2004-09-30,1035.60,1040.90,1020.65,1025.10,1027.10,1565179.0,16163.97
2004-10-01,1029.00,1056.45,1026.35,1048.50,1047.70,1371111.0,14308.62
2004-10-04,1057.00,1081.00,1054.45,1079.20,1076.50,1891228.0,20271.86
2004-10-05,1080.30,1089.00,1075.50,1077.05,1080.70,1792661.0,19422.48
...,...,...,...,...,...,...,...
2018-01-17,2870.00,2925.00,2862.15,2895.00,2888.95,2140403.0,62079.46
2018-01-18,2897.00,2933.00,2868.05,2926.55,2918.20,1104739.0,31997.12
2018-01-19,2930.55,2982.00,2903.65,2974.85,2959.30,910000.0,26670.01
2018-01-22,2961.00,3134.70,2922.00,3090.00,3116.40,2183555.0,66645.66
2018-01-23,3114.95,3142.35,3090.05,3097.90,3102.00,1619805.0,50408.79
2018-01-24,3090.00,3259.05,3082.65,3174.95,3174.60,2810769.0,89651.88
2018-01-25,3175.00,3179.80,3081.00,3133.00,3121.05,1916922.0,59866.62
2018-01-29,3131.40,3225.00,3122.00,3199.25,3198.85,1570530.0,50196.39
2018-01-30,3180.00,3203.80,3143.70,3152.15,3152.85,787379.0,24932.03
2018-01-31,3137.00,3150.00,3098.60,3111.15,3112.35,1521607.0,47461.05
2018-02-01,3124.00,3190.00,3088.80,3150.00,3138.60,1200315.0,37764.74
2018-02-02,3120.00,3190.00,3103.45,3153.00,3153.65,1228245.0,38901.63
2018-02-05,3110.00,3188.00,3076.85,3110.00,3103.20,1378871.0,43003.56
2018-02-06,3010.00,3077.15,2985.00,3000.00,2997.25,1328653.0,40137.44
2018-02-07,3027.00,3031.00,2947.45,2959.00,2955.05,1090162.0,32435.12
2018-02-08,2979.75,3027.60,2959.00,2966.20,2974.20,1377502.0,41327.16
2018-02-09,2950.00,2994.00,2896.65,2978.30,2971.70,1051229.0,30910.37
2018-02-12,2978.30,3023.35,2955.55,2960.15,2967.30,987281.0,29434.08
2018-02-14,2970.00,2974.45,2892.50,2900.00,2911.80,1423766.0,41853.67
2018-02-15,2931.95,2943.00,2905.10,2922.00,2925.85,1232618.0,36059.54
2018-02-16,2923.00,2999.60,2923.00,2931.00,2933.05,1257878.0,37302.56
2018-02-19,2945.00,2953.30,2895.20,2923.65,2923.60,784112.0,22959.55
2018-02-20,2928.00,2985.05,2927.90,2943.00,2944.75,944534.0,27951.26
2018-02-21,2974.00,3062.60,2960.05,3042.35,3042.30,1544614.0,46589.38
2018-02-22,3052.00,3079.00,3022.50,3040.05,3050.20,1731505.0,52773.42
2018-02-23,3050.00,3089.00,2992.10,3078.00,3075.80,1681250.0,51189.36
2018-02-26,3075.00,3089.95,3021.20,3025.60,3031.70,681941.0,20758.94
2018-02-27,3041.00,3078.55,3032.00,3042.00,3042.35,858900.0,26234.43
2018-02-28,3035.00,3063.95,3021.45,3033.40,3035.05,1353432.0,41146.52
2018-03-01,3049.00,3061.20,3020.00,3033.00,3037.70,859062.0,26134.81

In [18]:
dataset["Open"][0:5]

Date
2004-08-25    1198.7
2004-08-26     992.0
2004-08-27     982.4
2004-08-30     969.9
2004-08-31     986.5
Name: Open, dtype: float64

In [19]:
dataset['Total Trade Quantity'][5:20]

Date
2004-09-01    2491943.0
2004-09-02    2669544.0
2004-09-03    1233732.0
2004-09-06    1129834.0
2004-09-07     721529.0
2004-09-08     824248.0
2004-09-09     993398.0
2004-09-10     801884.0
2004-09-13    2613114.0
2004-09-14    1916934.0
2004-09-15    1498536.0
2004-09-16     919778.0
2004-09-17    1828487.0
2004-09-20    1069028.0
2004-09-21    1737135.0
Name: Total Trade Quantity, dtype: float64

In [26]:
#json dataset

import json
myjson='''{
    "status":"okkk",
    "source":"datset",
    "value":"uid"
}'''
a=json.loads(myjson)
print(a)

{'status': 'okkk', 'source': 'datset', 'value': 'uid'}

In [32]:
#to ccess news data through news api
#to read json data by using news api url
import urllib.request as xyz
import json
rawdata1=xyz.urlopen("https://newsapi.org/v2/top-headlines?sources=bbc-news&apiKey=2f7ea4d0bd69421cb10f03a8e374bd9b")
print(rawdata1.read())

b'{"status":"ok","totalResults":10,"articles":[{"source":{"id":"bbc-news","name":"BBC News"},"author":"BBC News","title":"China \'won\'t sit by\' in Trump trade war","description":"The warning comes after Donald Trump announced steel tariffs and said that trade wars were good.","url":"http://www.bbc.co.uk/news/world-asia-china-43278458","urlToImage":"https://ichef.bbci.co.uk/images/ic/1024x576/p05zsnw9.jpg","publishedAt":"2018-03-04T12:54:17Z"},{"source":{"id":"bbc-news","name":"BBC News"},"author":"BBC News","title":"Aid plea for thousands after PNG quake","description":"Aid agencies struggle to reach isolated areas in Papua New Guinea, nearly a week after a large quake.","url":"http://www.bbc.co.uk/news/world-asia-43277013","urlToImage":"https://ichef.bbci.co.uk/news/1024/branded_news/12C4C/production/_100267867_hi045188452.jpg","publishedAt":"2018-03-04T12:34:26Z"},{"source":{"id":"bbc-news","name":"BBC News"},"author":"BBC News","title":"Oscars 2018: What to expect this year","description":"Ahead of Sunday\'s ceremony we take a look at the nominees to watch and the biggest talking points.","url":"http://www.bbc.co.uk/news/entertainment-arts-43243027","urlToImage":"https://ichef.bbci.co.uk/news/1024/branded_news/2989/production/_100233601_097_sow_dtlra_rev_f_t_final_r709_grd.089499_rgb.jpg","publishedAt":"2018-03-04T11:49:21Z"},{"source":{"id":"bbc-news","name":"BBC News"},"author":"BBC News","title":"Residents flee Syria enclave bombardment","description":"The Syrian government is reported to be increasing military pressure on the Eastern Ghouta.","url":"http://www.bbc.co.uk/news/world-middle-east-43277856","urlToImage":"https://ichef.bbci.co.uk/news/1024/branded_news/1C1C/production/_100269170_mediaitem100269169.jpg","publishedAt":"2018-03-04T11:39:27Z"},{"source":{"id":"bbc-news","name":"BBC News"},"author":"BBC Sport","title":"Sir Roger Bannister: First man to run a mile in under four minutes dies at 88","description":"Sir Roger Bannister, the first man to run a mile in under four minutes, dies at the age of 88.","url":"http://www.bbc.co.uk/sport/athletics/43273249","urlToImage":"https://ichef.bbci.co.uk/onesport/cps/624/cpsprodpb/ECFA/production/_100266606_bannister_getty.jpg","publishedAt":"2018-03-04T11:20:58Z"},{"source":{"id":"bbc-news","name":"BBC News"},"author":"BBC Sport","title":"Davide Astori: Fiorentina captain and Italy international dies at the age of 31","description":"Fiorentina captain and Italy international Davide Astori dies at the age of 31.","url":"http://www.bbc.co.uk/sport/football/43278166","urlToImage":"https://ichef.bbci.co.uk/onesport/cps/624/cpsprodpb/13590/production/_97584297_breaking_news.png","publishedAt":"2018-03-04T11:14:29Z"},{"source":{"id":"bbc-news","name":"BBC News"},"author":"BBC News","title":"Trump skewers aides in joke-filled speech","description":"The US president joked about his son-in-law, White House \\"chaos\\" and Kim Jong-un at the event.","url":"http://www.bbc.co.uk/news/world-us-canada-43276466","urlToImage":"https://ichef-1.bbci.co.uk/news/1024/branded_news/17684/production/_100267859_gettyimages-905673956.jpg","publishedAt":"2018-03-04T08:38:26Z"},{"source":{"id":"bbc-news","name":"BBC News"},"author":"BBC News","title":"Mexico police \'linked to missing Italians\'","description":"Four Mexican police officers allegedly confess to handing three missing Italians to a criminal gang.","url":"http://www.bbc.co.uk/news/world-latin-america-43275336","urlToImage":"https://ichef.bbci.co.uk/news/1024/branded_news/1481F/production/_100199938_5b049dcc-6568-4abc-8e0e-bfc9803738b9.jpg","publishedAt":"2018-03-04T02:56:24Z"},{"source":{"id":"bbc-news","name":"BBC News"},"author":"BBC News","title":"Italy to vote after divisive campaign","description":"Populist and anti-immigrant parties could make major gains in an unpredictable contest.","url":"http://www.bbc.co.uk/news/world-europe-43272700","urlToImage":"https://ichef-1.bbci.co.uk/news/1024/branded_news/5EB6/production/_100264242_547b406c-be0a-4f5a-ab53-038ae237b438.jpg","publishedAt":"2018-03-04T01:40:06Z"},{"source":{"id":"bbc-news","name":"BBC News"},"author":"BBC News","title":"Meet the real-life Three Billboards mum","description":"Meet the mother who put up billboards to find her missing daughter, in a story that reflects the Oscar-nominated film, Three Billboards Outside Ebbing, Missouri.","url":"http://www.bbc.co.uk/news/world-us-canada-43259912","urlToImage":"https://ichef-1.bbci.co.uk/news/1024/branded_news/A4E7/production/_100251224_p05zxb7g.jpg","publishedAt":"2018-03-04T00:19:42Z"}]}'

In [40]:
import urllib.request as url
import json
rawdata1=url.urlopen("https://newsapi.org/v2/top-headlines?sources=bbc-news&apiKey=2f7ea4d0bd69421cb10f03a8e374bd9b")
#print(rawdata1.read())
myjson=rawdata1.read()
a=json.loads(myjson.decode())
#print(a)
#to access only 1st title of articles
print(a["articles"][0]["title"])

China 'won't sit by' in Trump trade war

In [1]:
import urllib.request as url
import json
rawdata1=url.urlopen("https://newsapi.org/v2/top-headlines?sources=bbc-news&apiKey=2f7ea4d0bd69421cb10f03a8e374bd9b")
#print(rawdata1.read())
myjson=rawdata1.read()
a=json.loads(myjson.decode())
#print(a)
#to access only all title of articles using for loop
for i in range(0,10):
    print(a["articles"][i]["title"])

China 'won't sit by' in Trump trade war
Aid plea for thousands after PNG quake
Oscars 2018: What to expect this year
Residents flee Syria enclave bombardment
Sir Roger Bannister: First man to run a mile in under four minutes dies at 88
Davide Astori: Fiorentina captain and Italy international dies at the age of 31
Trump skewers aides in joke-filled speech
Mexico police 'linked to missing Italians'
Italy to vote after divisive campaign
Meet the real-life Three Billboards mum

In [19]:
import urllib.request as url
import json
rawdata1=url.urlopen("https://newsapi.org/v2/top-headlines?sources=bbc-news&apiKey=2f7ea4d0bd69421cb10f03a8e374bd9b")
#print(rawdata1.read())
myjson=rawdata1.read()
a=json.loads(myjson.decode())
#print(a)
#to access only all title of articles using for loop

#print(a["articles"])


# to access author data of articles
# for i in range(0,10):
#     print("author of articles " +str(i)+ " is")
#     print(a["articles"][i]["author"])

    
    
#     # to access description data of articles
# for i in range(0,10):
#     print(str(i+1) + "." + "description of article is "+str(i) + " is")
#     print(a["articles"][i]["description"])

    






#print(a["articles"][0])

{'source': {'id': 'bbc-news', 'name': 'BBC News'}, 'author': 'BBC News', 'title': "China 'won't sit by' in Trump trade war", 'description': 'The warning comes after Donald Trump announced steel tariffs and said that trade wars were good.', 'url': 'http://www.bbc.co.uk/news/world-asia-china-43278458', 'urlToImage': 'https://ichef.bbci.co.uk/images/ic/1024x576/p05zsnw9.jpg', 'publishedAt': '2018-03-04T12:54:17Z'}